@font-face {
  font-family: 'KronaOne';
  src: url('../fonts/KronaOne-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  background: linear-gradient(to Left, #0e0448, #16213e, #1b2e62, #1a3262);
  /*font-family: Arial, sans-serif;*/
  font-family: 'Montserrat';
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: white;
}

/* Container for the entire page */
.container {
  height: 100%;
  min-height: 100vh;
  padding: 50px;
  flex-wrap: nowrap;
}

/* Main layout wrapper */
.content {
  max-width: 1200px;
  width: 100%;
}

/* Sidebar (Left Section) */
.sidebar {
  height: 100vh;
  max-width: 350px;
  padding-right: 40px;
  margin-right: 40px;
  position: fixed;
  top: 0;
}


/* Main content area (Right Section) */
.main-content {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  margin-left: 400px;

}

.menu-condensed {
  display: none;
}


.vertical-line {
  position: absolute;
  left: 6px;
  top: 0;
  bottom: 0;
  list-style: solid;
  width: 2px;
  background-color: rgb(255, 255, 255);
}

.separator {
  padding-left: 8px;
}

h4 {
  padding-left: 7vh;
}

.timeline-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resume-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  position: relative;
  /* Prevents layout shift */
  z-index: 1;
}

.resume-link:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.05);
  transform-origin: center center;
}

.resume-link h4 {
  margin-right: 8px;
}


footer {
  padding-top: 5vh;
  font-size: 10px;
  color: #BCC4D2;
  text-align: end;
}

.univ {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
    /* Hide the sidebar entirely */
  }

  .menu-condensed {
    display: block;
    position: fixed;
    top: 5vh;
  }

  

  .main-content {
    margin-left: 0;
    margin-top: 100px;
    display: block;
  }
}