.circle {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
}

.circle.right {
  right: -7px;
}

.circle.left {
  left: -7px;
}

.circle.solid {
  background-color: white;
}

.circle.hollow {
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: inside;
  background-color: transparent;
  align-content: end;

}

.line {
  height: 2px;
  background-color: white;
  position: relative;
  align-items: center;
}

.circle.right {
  right: -15px; 
}