nav ul {
  list-style-type: none;
  padding: 10px;
  padding-top: 40px;
  position: relative; /* Prevents layout shift */
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.nav-item a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #d8e7fb;
  transition: all 0.3s ease;

}

.nav-item a:hover {
  color: #FECC51;
  font-size: 1.2rem;
  text-shadow: #214993 1px 1px 2px;
  font-weight: bold;
}

.nav-item.active a {
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: #214993 1px 1px 2px;
  color: #FECC51;
}


/* Nav state */
.nav-item.active .line {
  background-color: #FECC51; 
  width: 150%;
}

.nav-item.active .circle {
  background-color: #FECC51; 
}

.nav-item .line {
  background-color: #BCC4D2; 
}

.nav-item .circle {
  background-color: #BCC4D2; 
}