.timeline-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 6px rgba(62, 13, 99, 0.2);
  color: white;
}

.role {
  font-weight: bold;
}

.duration {
  font-size: 14px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
}

.skill {
  display: inline-block;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 8px;
  font-size: 12px;
  opacity: 90%;
  
}


.skill:nth-child(1) {
  background-color: #FCB033;

}

.skill:nth-child(2) {
  background-color: #FECC51;

}

.skill:nth-child(3) {
  background-color: #FFF57b;

}

.skill:nth-child(4) {
  background-color: #FCB033;
}
